* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --max-width: 850px;
  --border-radius: 6px;
  --border-radius-message: 20px;
  --color-background: #0a0517;
  --background-chat: #1f2129;
  --message-background: #292c37;
  --message-border-color: linear-gradient(
    90deg,
    rgba(141 37 204, 1) 0%,
    rgba(241 98 91, 1) 100%
  );
  --border-line-color: #2e2e2e;
  --color-text: #fff;
  --color-text-secondary: #4a5064;
}
