.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background);
  padding: 0 20px;
  justify-content: center;
}

.chatHolder {
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  flex-grow: 1;
}

.chat {
  flex-grow: 1;
  padding: 20px;
  gap: 10px;
  border: 1px solid var(--border-line-color);
  border-radius: var(--border-radius);
  background-color: var(--background-chat);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-shadow: rgba(182, 51, 215, 0.2) 0px 1px 70px 0px;
  max-height: calc(100vh - 250px);
}

.title {
  font-size: 2rem;
  color: white;
  margin: 1.5rem 0;
}

.messageHolder {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.rotate {
  width: 750px;
  height: 75px;
  color: white;
  animation: rotate-center 0.9s ease-in-out infinite both;
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
