.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background);
  padding: 0 20px;
}

.chatHolder {
  max-width: var(--max-width);
  height: 840px;
  padding: 20px;
  gap: 20px;
  padding: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chat {
  width: 100%;
  padding: 20px;
  gap: 10px;
  height: 100%;
  border: 1px solid var(--border-line-color);
  border-radius: var(--border-radius);
  background-color: var(--background-chat);
  flex-wrap: wrap;
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
  align-content: flex-start;
  box-shadow: rgba(182, 51, 215, 0.2) 0px 1px 70px 0px;
}

.title {
  font-size: 2rem;
  color: white;
  margin-top: 2rem;
}

.messageHolder {
  display: flex;
  flex-direction: column;
  width: 100%;
}
