.container {
  display: flex;
  color: antiquewhite;
  height: fit-content;
  place-self: flex-end;
  min-width: 35%;
  max-width: 85%;
  background-color: var(--message-background);
  border-radius: var(--border-radius-message);
  border-bottom-right-radius: 0px;
  flex-direction: row;
  padding: 10px;
  gap: 10px;
  flex-direction: row-reverse;
}

.avatarHoler {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.authorName {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--color-text-secondary);
}

.avatar {
  display: flex;
  border-radius: 50%;
  min-width: 50px;
  min-height: 50px;
  aspect-ratio: 1;
}

.messageText {
  width: 100%;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  font-weight: 300;
  text-align: left;
  padding-left: 20px;
}

.audioHolder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.speakIcon {
  width: 25px;
  height: 25px;
  color: var(--color-text-secondary);
  cursor: pointer;
  transition: 0.3s;
}

.speakIcon:hover {
  color: white;
  transition: 0.3s;
}

.rotate {
  width: 25px;
  height: 25px;
  animation: rotate-center 0.9s ease-in-out infinite both;
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
